* {
    margin: 0;
    padding: 0;
    font-family: "Book Antiqua";
}
body{
    overflow-x: hidden;
    min-width: 360px;
    background: #AEC1C6;
    /*background: linear-gradient(#A59BFF, #C9FF8C);*/
}
div {
    box-sizing: border-box;
    /*border: 1px solid black;*/
}

.margin-10-0 {
    margin: 10px 0;
}

.margin-5-0 {
    margin: 5px 0;
}
/*
.width {
    width: 800px;
    box-sizing: border-box;
}

.content {
    position: relative;
    margin: 0px auto;
}
*/
.user_data {
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background: aqua;
}
.user_data:active{
    opacity: 0.85;
}
.user_data:hover{
    opacity: 0.7;
}
.add_contact {
    width: 150px;
    height: 50px;
    line-height: 50px;
    margin: 25px;
    background: #C9FF8C;
    float: left;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
}

.user_email {
    white-space: nowrap;
    overflow: hidden;
    height: 40px;
    line-height: 40px;
    text-overflow: ellipsis;
}

/*-------------------------*/
.user_and_phone {
    overflow-y: scroll;
    min-height: 0;
    max-height: calc(100vh - 150px);
    padding: 0 30px;
}

.user_add {
    padding: 15px;
    background: #B9FFF6;
    border-radius: 30px;
}

.user_info input {
    width: 100%;
    margin: 2px;
}

.text_info, .user_add table, .comment {
    width: 100%;
    /*box-sizing: border-box;*/
    margin: 0 auto;
}

.user_add table tr:nth-child(5) {
    text-align: center;
}

.user_add table {
    box-sizing: border-box;
}

textarea {
    resize: none;
    height: 120px;
    overflow: auto;
    width: 100%;
}

.add_user {
    text-align: center;
    height: 30px;
    line-height: 30px;
    background: #69FF96;
    cursor: pointer;
    /*padding: 5px;*/
    border-radius: 10px;
    margin: 5px auto;
    width: 260px;
}

.add_user:active {
    opacity: 0.8;
    background: #2FFFD4;
}

.add_user:hover {
    opacity: 0.9;
}

.phone {
    height: 52px;
    background: #C9FF8C;
    box-sizing: border-box;
    border: 2px solid black;
    text-align: center;
    margin: 2px;
    border-radius: 50px;
}

.phone_name {
    width: calc(100% - 110px);
    box-sizing: content-box;
    overflow-x: hidden;
    float: left;
}

.phone a, .phone a img {
    position: relative;
    height: 100%;
    float: left;
    left: -1px;
}

.dot {
    height: 90%;
    margin: 2px;
    float: right;
    cursor: pointer;
    position: relative;
    right: 5px;
}

.vk_img {
    border-radius: 25px;
    left: 0px !important;
    padding-right: 10px;
}

.h_comment {
    height: 70px;
}

.comment {
    word-wrap: break-word;
    padding: 10px;
    background: #FEFFBE;
    border: 5px solid #B9E6FF;
    border-radius: 30px;
}

.hidden {
    display: none;
}
.event {
    width: 150px;
    height: 30px;
    float: left;
    line-height: 30px;
    padding: 10px;
    margin: 25px;
    text-align: center;
    background: #C9FF8C;
    border-radius: 40px;
    cursor: pointer;
}

.event a {
    text-decoration: none;
}

.event:hover, .add_contact:hover {
    background: #F3FF96;
}

.event:active, .add_contact:active {
    background: #CDFFDA;
    opacity: 0.7;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-button {
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background-color: #999;
}

::-webkit-scrollbar-track-piece {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #666;
    border-radius: 3px;
}

::-webkit-scrollbar-corner {
    background-color: #999;
}

::-webkit-resizer {
    background-color: #666;
}
.hidden-768{
    display: none ;
}
@media (max-width: 768px) {
    .block_back-768{
        height: 54px;
    }
    .back{
        float: right;
    }
    .back_img{
        cursor: pointer;
        height: 50px;
    }
    .hidden-768{
        display: block ;
    }
}
.block_back{
    height: 60px;
}
.contact_del , .contact_hidden{
    position: relative;
    cursor: pointer;
    height: 40px;
    background: #00FFFF;
    line-height: 40px;
    top: 5px;
    border-radius: 25px;
    text-align: center;
    margin: 0 10px;
}
.contact_del:hover , .contact_hidden:hover , .settings_img:hover{
    opacity: 0.7;
}
.contact_del:active , .contact_hidden:active , .settings_img:active{
    opacity: 0.85;
}
.settings_block{
    width: 100%;
    height: 100vh;
    position: absolute;
    background: #2885FF;
    top: 0;
    left: 0;
}
.settings_img {
    height: 40px;
    cursor: pointer;
}
.settings{
    height: 40px;
}
.settings_radio{
    position: relative;
    min-width: 360px;
    margin: 0 auto;
    top: 30%;
}
.settings_save{
    width: 300px;
    margin: 0 auto;
}
.modal-close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.modal-close:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.modal-close::before,
.modal-close::after {
    content: "";
    position: absolute;
    top: 14px;
    right: 1px;
    width: 30px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 2px;
}
.modal-close::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.modal-close::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}